<template>
    <div class="chat">
        <messenger :room="selectedRoom" :messages="messages" @new="addNewMessage"/>
        <rooms :rooms="rooms" @selected="enterRoom"/>
    </div>

</template>

<script>
    import Messenger from './Messenger';
    import Rooms from './Rooms';

    export default {
        props: ['rooms'],
        data() {
            return {
                selectedRoom: null,
                messages: []
            }
        },
        mounted() {
            Echo.channel('chat').listen('.chat-message', (e) => {
                console.log(e);
                this.addNewMessage(e.message);
            });
        },
        methods: {
            enterRoom(room) {
                axios.get('/chat/' + room.id)
                    .then((response => {
                        this.messages = response.data;
                        this.selectedRoom = room;
                    }))
            },
            addNewMessage(message) {
                this.messages.push(message);
            },
        },
        components: {
            Messenger,
            Rooms
        }
    }
</script>

<style lang="scss" scoped>
    .chat {
        display: flex;
    }
</style>