<template>
    <div class="send">
        <input v-model="userName" placeholder="Enter your name...">
        <textarea v-model="message" @keydown.enter="send" placeholder="Enter your message"></textarea>
        <!--<button @keydown.enter="send" @click="send"></button>-->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                userName: '',
                message: '',
            }
        },
        methods: {
            send() {
                // e.preventDefault();
                if (this.message === '' || this.userName === '') {
                    alert('Name and message cannot be blank!');
                    return;
                }
                let data = {
                    user_name: this.userName,
                    message: this.message
                };

                this.$emit('send', data);
                this.message = '';
                this.userName = '';
            }
        }
    }
</script>

<style lang="scss" scoped>
    .send {
        textarea {
            width: 96%;
            margin: 10px;
            resize: none;
            border-radius: 3px;
            border: 1px solid lightgray;
            padding: 6px;
            margin-top: 5px;
        }

        input {
            width: 96%;
            margin: 10px;
            resize: none;
            border-radius: 3px;
            border: 1px solid lightgray;
            padding: 6px;
            margin-bottom: 0px;
        }
    }
</style>
