<template>
    <div class="messenger">
        <h1>{{ room ? room.name : 'Select room' }}</h1>
        <messagesFeed :room="room" :messages="messages"></messagesFeed>
        <messageEnter @send="sendMessage"/>
    </div>
</template>

<script>
    import MessagesFeed from './MessagesFeed';
    import MessageEnter from './MessagesEnter';

    export default {
        props: {
            room: {
                type: Object,
                default: null
            },
            messages: {
                type: Array,
                default: []
            }
        },
        methods: {
            sendMessage(data) {
                if (!this.room) {
                    alert('Pick chat room');
                    return;
                }

                axios.post('/chat/' + this.room.id + '/message', data)
                    .then((response => {
                        this.$emit('new', response.data)
                    }))
            }
        },
        components: {
            MessagesFeed,
            MessageEnter
        }
    }
</script>

<style lang="scss" scoped>
    .messenger {
        flex: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 20px;
            padding: 10px;
            margin: 0;
            border-bottom: 1px dashed lightgray;
        }

    }
</style>