<template>
    <div class="rooms">
        <ul>
            <li v-for="(room, index) in rooms" :key="room.id" @click="selectRoom(index, room)"
                :class="{ 'selected': index == selected }">
                <div class="room">
                    <p class="name">{{ room.name }}</p>
                </div>
            </li>
            <li>
                <input v-model="roomName" placeholder="Enter room name...">
                <button @click="createRoom">Create</button>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['rooms'],
        data() {
            return {
                selected: 0,
                roomName: ''
            }
        },
        methods: {
            selectRoom(index, room) {
                this.selected = index;
                this.$emit('selected', room);
            },
            createRoom() {
                if (this.roomName === '') {
                    alert('Enter room name');
                    return;
                }

                let data = {
                    name: this.roomName,
                };

                axios.post('/chat', data)
                    .then((response => {
                        this.rooms.push(response.data);
                    }))
            }
        },
    }
</script>

<style lang="scss" scoped>
    .rooms {
        flex: 2;
        max-height: 600px;
        overflow: scroll;
        border-left: 1px solid #c5c5c5;

        ul {
            list-style-type: none;
            padding-left: 0;

            li {
                display: flex;
                padding: 2px;
                border-bottom: 1px solid #c5c5c5;
                height: 80px;
                position: relative;
                cursor: pointer;
                &.selected {
                    background: #e6dbdb;
                }
                .room {
                    flex: 3;
                    /*font-size: 10px;*/
                    overflow: hidden;
                    display: flex;
                    /*flex-direction: column;*/
                    justify-content: center;
                    p {
                        margin: 0;
                        &.name {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
</style>